*
!.gitignore
!*/
!*.c
!*.h
!*.cpp
!*.hpp
!*.in
!*.inl
!*.m
!*.lua
!*.glsl
!*.txt
CMakeCache.txt

!*.sln
!*.vcxproj
!*.filters
!*.user

!*.vs
!*.fs
!*.png
!*.bmp
!*.md
!*.obj
!*.ttf
!*.rc
!*.ico

.idea/
.vscode/
cmake-build-debug/
**/CMakeFiles/

!glfw-3.3.4/CMake/**